.footer-link {
    color: var(--text-secondary-color);
     text-decoration: none;
     transition: all 0.3s ease;
   }
   
   .footer-link:hover {
     color: var(--white-color);
     text-decoration: underline;
   }
   
   @media screen and (max-width: 768px) {

 footer{
    position: relative;
    top: 288px;
 }
  }